QGNLD2_1005/TZ_kurzusfelvetel.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="kurzusfelvetel">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="hallgato">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="hnev" type="xs:string" />
              <xs:element name="szulev" type="xs:date" />
              <xs:element name="szak">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="evf" type="xs:unsignedByte" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="kurzusok">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="kurzus">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="kurzusnev" type="xs:string" />
                    <xs:element name="kredit" type="xs:unsignedByte" />
                    <xs:element name="hely" type="xs:string" />
                    <xs:element name="idopont" type="xs:string" />
                    <xs:element name="oktato" type="xs:string" />
                    <xs:element minOccurs="0" name="oraado" type="xs:string" />
                  </xs:sequence>
                  <xs:attribute name="id" type="xs:string" use="required" />
                  <xs:attribute name="jovahagyas" type="xs:string" use="optional" />
                  <xs:attribute name="nyelv" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="tanev" type="xs:string" use="required" />
      <xs:attribute name="egyetem" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>