QGNLD2_1109/studentQGNLD2.xsd

<?xml version="1.0" encoding="utf-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFromDeafult="qualified">
	<xs:element name="student">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="keresztnev" type="xs:string"/>
				<xs:element name="vezeteknev" type="xs:string"/>
				<xs:element name="becenev" type="xs:string"/>
				<xs:element name="kor" type="xs:integer"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>